$primary-font: "Helvetica Neue",Helvetica,Arial,sans-serif;



* {
  font-family: $primary-font;
}

#main-menu ul li a {
    font-size: 14px;
    color: #2a323b;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

ul {
border-top: black solid 3px;
border-bottom: black solid 3px;
border-radius: 2px;
padding: 20px;
}

ul li {
  display: inline;
  margin-right: 10px;
}

.breadcrumb {
background-color: white;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #f26522;
  }

.search input{
position: relative;
float: right;
display: flex;
justify-content: flex-end;
padding: 2px;
border-radius: 13px;
border-width: 1px;
margin-top: 10px;
}

.timp {
font-family: 'Open sans', sans-serif;
font-size: 20px;
font-weight: 700;

}

.portii {
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.dificultate {
font-family: 'Open sans', sans-serif;
font-size: 20px;
font-weight: 700;
}

.poza-mare {
width: 100%;
}

.recipe-description {
  border-top: darkgrey solid 1px;
  border-bottom: darkgrey solid 1px;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
}

.ingrediente {
margin-left: 30px;
padding: 0;
font-size: 16px;
line-height: 60%;
}

h2 {
  font-size: 28px;
  font-family: 'Open sans', sans-serif;
  padding: 10px 0px 25px 10px;
  font-weight: 100;
  color: #2a323b;
  opacity: 75%;
}

.border-mod-de-preparare {
  border-top: darkgrey solid 1px;
  border-radius: 2px;
  padding: 10px;
  margin-top: 30px;
}
